@model SD2_eindopdracht.Models.Subscription

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>*
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinAge" class="control-label"></label>*
                <input asp-for="MinAge" class="form-control" />
                <span asp-validation-for="MinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAge" class="control-label"></label>
                <input asp-for="MaxAge" class="form-control" />
                <span asp-validation-for="MaxAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsAtOnce" class="control-label"></label>
                <input asp-for="ItemsAtOnce" class="form-control" />
                <span asp-validation-for="ItemsAtOnce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearlyItems" class="control-label"></label>
                <input asp-for="YearlyItems" class="form-control" />
                <span asp-validation-for="YearlyItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanPeriod" class="control-label"></label>*
                <input asp-for="LoanPeriod" class="form-control" />
                <span asp-validation-for="LoanPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extensions" class="control-label"></label>*
                <input asp-for="Extensions" class="form-control" />
                <span asp-validation-for="Extensions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationPrice" class="control-label"></label>*
                <input asp-for="ReservationPrice" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="ReservationPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyFine" class="control-label"></label>*
                <input asp-for="DailyFine" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="DailyFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionPrice" class="control-label"></label>*
                <input asp-for="SubscriptionPrice" class="form-control" type="number" step="0.1" />
                <span asp-validation-for="SubscriptionPrice" class="text-danger"></span>
            </div>
            <div>
                <span>*: Required</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
